.headerWrapper {
    width: 100%;
    background-color:black;
    position: fixed; z-index:3;
}

.styledHeader{
    display: flex; flex-flow: row nowrap;
    align-items: center;
    margin: 15px auto 15px 25px; /* - in viewport 1440 */
    /* margin: 1.042vw auto 1.042vw 1.736vw; */
}
    

.mainLogoWrapper{ 
    width: 12.500vw; /* // 180px in 1440 */
    min-width: 135px;
}

.mainLogo {
    max-height:60px;  /* // - 4.167vw; // in viewport 1440 */
    max-width: 100%;
}

